@model EditPerformerViewModel
@{
    ViewData["Title"] = "Edit performer";
}

<div class="main-container">
    <div class="formContainer">
        <h1 class="title">Edit performers</h1>
        <form asp-action="Edit" asp-controller="Performer" method="post" class="form">
            <input asp-for="@Model.Id" type="hidden" />
            <label>Name</label>
            <input class="inputStyle" asp-for="@Model.Name" type="text" placeholder="Name">
            <label>Surname</label>
            <input class="inputStyle" asp-for="@Model.Surname" type="text" placeholder="Surname">
            <label>Group Description</label>
            <div class="select-container">
                <select class="select-items" asp-for="@Model.GroupId" asp-items="@Model.GroupsList">
                    <option value="" selected>Select  Group</option>
                </select>
            </div>
            <input type="submit" class="addRecordbtn" value="Edit">

        </form>
        <p class="success-message">@ViewData["SuccessMessage"]</p>
        <div class="error-box" asp-validation-summary="All"></div>
    </div>
</div>
