@model CreateRecordViewModel
<div class="main-container">
    <div class="formContainer">
        <h1 class="title">Add record</h1>
        <div class="error-box" asp-validation-summary="All"></div>
        <form asp-action="Create" asp-controller="Record" method="post" class="form">
            <label>Composition name</label>
            <input class="inputStyle" asp-for="@Model.СompositionName" type="text" placeholder="Composition name">
            <label>Album</label>
            <input class="inputStyle" asp-for="@Model.Album" type="text" placeholder="Album">
            <div class="select-container">
                <label>Performer</label>
                <select class="select-items" asp-for="@Model.PerformerId" asp-items="@Model.PerformersList" required> <option value="" disabled selected>Select  Performer</option></select>
                <label>Genre</label>
                <select class="select-items" asp-for="@Model.GenreId" asp-items="@Model.GenresList" required> <option value="" disabled selected>Select  Genre</option></select>
            </div>
            <label>Lasting</label>
            <input class="inputStyle" asp-for="@Model.Lasting" type="number" min="60" placeholder="Lasting">
            <label>Rating</label>
            <input class="inputStyle" asp-for="@Model.Rating" type="number" step="0.1" min="1" max="5" placeholder="Rating ">
            <label>Record date</label>
            <input class="inputStyle" asp-for="@Model.RecordDate" type="date" min="1960-01-01" value="2000-01-01" placeholder="Record date">
            <input type="submit" class="addRecordbtn" value="Add">
        </form>
        <p class="success-message">@ViewData["SuccessMessage"]</p>
    </div>
</div>
