@model Record
@inject RadiostationWeb.Data.BDLab1Context context;
@{
    var performers = context.Performers.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.Name })
        .ToList();

    var genres = context.Genres.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.GenreName })
    .ToList();
}

<div class="all-container">
    <div class="formContainer">
        <h1 class="title">Edit records</h1>
        <form asp-action="Edit" asp-controller="Record" method="post" class="form">
            <input asp-for="@Model.Id" type="hidden" />
            <label>Composition name</label>
            <input class="inputStyle" asp-for="@Model.ComposName" type="text" placeholder="Composition name">
            <label>Album</label>
            <input class="inputStyle" asp-for="@Model.Album" type="text" placeholder="Album">
            <label>Performer</label>
            <select class="select-items" asp-for="@Model.PerformerId" asp-items="performers"><option value="0"></option></select>
            <label>Genre</label>
            <select class="select-items" asp-for="@Model.GenreId" asp-items="genres"><option value="0"></option></select>
            <label>Lasting</label>
            <input class="inputStyle" asp-for="@Model.Lasting" type="number" placeholder="Lasting">
            <label>Rating</label>
            <input class="inputStyle" asp-for="@Model.Rating" type="number" placeholder="Rating ">
            <label>Record date</label>
            <input class="inputStyle" asp-for="@Model.RecordDate" type="date" min="1960-01-01" placeholder="Record date">
            <input type="submit" class="addRecordbtn" value="Edit">

        </form>
        <p class="success-message">@ViewData["SuccessMessage"]</p>
        <div class="error-box" asp-validation-summary="All"></div>
    </div>
</div>
